# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Wow.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\RTX_2070\Documents\Github\Wow\.idea\.idea.Wow\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
